<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1><%=blog.title%></h1>
        <h2><%=blog.description</h2>
       <span>
        <p>Post by</p>
        <a href="#"><%=blog.author%></a>
      <%=blog.createAt.toDateString()%>  
      <span>Read_Count: <%=blog.reading_count%></span>
      </span>
     </div>

     <article>
        <%=blog.body%>
     </article>
</body>
</html>